HOMEPAGE_URL="http://localhost:3000"
USER_PAGE_URL=${HOMEPAGE_URL}/user
MAIL_RECEIVE_SETTING_URL=${HOMEPAGE_URL}/mail-receive-setting
ENERGY_GRAPH_URL=${HOMEPAGE_URL}/energy-graph
MONTHLY_REPORT_URL=${HOMEPAGE_URL}/monthly-report
TIPS_URL=${HOMEPAGE_URL}/tips
ENERGY_CHALLENGE_URL=${HOMEPAGE_URL}/energy-challenge
ENERGY_CHALLENGE_JOIN_URL=${HOMEPAGE_URL}/energy-challenge/join
ENERGY_CHALLENGE_CANCEL_JOIN_URL=${HOMEPAGE_URL}/energy-challenge/cancel-join
