$common-pink: #c6538c;
$gray-background: #e0e0e0;
$birch-brown: #383229;
$survey-blue: #1d5896;
$survey-text-gray: #84817f;
$light-silver: #d9d9d9;
$light-gray: #e8f0f8;
$white: #ffffff;
$seashell-white: #f4f2f0;
$box-shadow: rgba(0, 0, 0, 0.2);
